/* src/App.css */
.App {
  display: flex;
  height: 100vh;
  overflow: hidden; /* 전체 화면 스크롤바 없애기 */
}

.legal-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow-y: auto; /* 내용이 길어질 때 스크롤이 생기도록 설정 */
  background-color: #f8f9fa;
}

.text-content {
  overflow-y: auto; /* 내용이 길어질 때 스크롤이 생기도록 설정 */
}

.categories {
  margin-bottom: 20px;
}

.categories h3 {
  margin-bottom: 10px;
}

.categories ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.categories li {
  cursor: pointer;
  padding: 5px 10px;
  margin-bottom: 5px;
  border-radius: 4px;
}

.categories li:hover, .categories li.active {
<<<<<<< HEAD
  background-color:  #005B5C;
=======
  background-color: #005B5C;
>>>>>>> 0224b24d47bc523d4c2e6a67f2a607924c7bae70
  color: #fff;
}

.chatbot {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #fff;
}

.chat-window {
  flex: 1;
  overflow-y: auto;
  padding-bottom: 40px; /* 입력창 높이를 고려한 패딩 */
  max-height: calc(100% - 80px); /* 채팅창 최대 높이 설정 */
}

.chat-message {
  display: flex;
  margin: 5px 0;
}

.chat-message.user {
  justify-content: flex-end;
}

.chat-message.bot {
  justify-content: flex-start;
}

.chat-bubble {
  max-width: 60%;
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
  position: relative;
  font-size: 14px;
  word-break: break-all; /* 단어 중간에서 줄 바꿈 */
  white-space: pre-wrap; /* 공백을 유지하면서 줄 바꿈 */
}

.chat-bubble.user {
<<<<<<< HEAD
  background-color:  #005B5C;
=======
  background-color: #005B5C;
>>>>>>> 0224b24d47bc523d4c2e6a67f2a607924c7bae70
  color: white;
  border-bottom-right-radius: 0;
}

.chat-bubble.user::after {
  content: "";
  position: absolute;
  top: 0;
  right: -10px;
  border-width: 10px 0 10px 10px;
  border-style: solid;
<<<<<<< HEAD
  border-color: transparent transparent transparent  #005B5C;
=======
  border-color: transparent transparent transparent #005B5C;
>>>>>>> 0224b24d47bc523d4c2e6a67f2a607924c7bae70
}

.chat-bubble.bot {
  background-color: #f1f1f1;
  color: black;
  border-bottom-left-radius: 0;
}

.chat-bubble.bot::after {
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  border-width: 10px 10px 10px 0;
  border-style: solid;
  border-color: transparent #f1f1f1 transparent transparent;
}

.chat-input {
  display: flex;
  padding: 10px;
  background-color: #fff;
  border-top: 1px solid #ddd;
}

.chat-input textarea {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 10px;
  height: 60px; /* 입력창 높이 설정 */
  resize: none; /* 입력창 크기 조절 비활성화 */
}

.chat-input button {
  padding: 10px 20px;
<<<<<<< HEAD
  background-color:  #005B5C;
=======
  background-color: #005B5C;
>>>>>>> 0224b24d47bc523d4c2e6a67f2a607924c7bae70
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height: 60px; /* 버튼 높이 설정 */
}

.chat-input button:hover {
<<<<<<< HEAD
  background-color: #0056b3;
=======
  background-color: #004547;
>>>>>>> 0224b24d47bc523d4c2e6a67f2a607924c7bae70
}
